// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html, body {
    width: 100%;
    height: 100%;
}

body{
    background: url('img/background.jpg')
}
#entry{
    text-align: center;
}
.cat{
    margin-top: 1em;
}
.cat img {
    max-width: 600px;
    max-height: 500px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#cat-img{
    display: none;
}

.days{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background: #f4d4aa;
    margin: 1em;
    padding: 1em;
}

.day, .hour{
    align-self: center;
}

.hour > input {
    margin-right: 1em;
}

.mb-1em{
    margin-bottom: 1em;
}
.mb-05em{
    margin-bottom: 0.5em;
}
#days-container{
    margin: auto;
    width: 650px;
    background: antiquewhite;
}

fieldset{
    border: solid;
    padding-bottom: 2em;
    padding-top: 1em;
}

.day-text{
    font-weight: bold;
}

.oi-plus{
    color: #de8a1c;
    cursor: pointer;
}

.total-week{
    font-weight: bold;
    color: darkgreen;
}

.total-hours{
    color: brown;
}

.total-day{
    color: mediumvioletred;
}

.form-control{
    width: auto;
    display: inline;
}

.oi-delete{
    color: red;
    cursor: pointer;
}
.log-in-out-text{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
}